.dart_tool/
.idea/
.vscode/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/firebase-config.js
macos/firebase_app_id_file.json
